@import "tailwindcss";

@theme {

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

    /* Colors */
  --color-deep: #0A0016;   /* Latar sangat gelap */
  --color-primary: #661AFF;   /* Ungu terang menyala (utama) */
  --color-accent1: #2A0C4E;   /* Ungu gelap ke arah biru */
  --color-accent2: #431A6D;   /* Ungu neon */
  --color-accent3: #934DFF;   /* Aksen hover/button */
  --color-accent4: #E0CCFF;   /* Teks kontras */
  --color-accent5: #1D102F;   /* Background gelap kedua */

}

:root {
  /* font-family: Inter, sans-serif;   */
  background-color: var(--color-deep);
  scroll-behavior: smooth;
}